h1 {
    letter-spacing: 2px;
    font-size: 60px;
    color: rgb(1, 9, 20);
    opacity: 1;
}

h2 {
    font-size: 48px;
    font-family: 'Losta Master' serif;
    color: rgba(55, 60, 25, 0.9);

}
 
div {
    
    background-color: gold;
    width: 100px;
    
}

body {
    height: 100vh;
   /* background: repeating-radial-gradient(circle, orange, red, green);*/
}

p {
    /*font-size: 16px;*/
    font-family: "Bitcount Single", system-ui;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5;
    font-style: italic;
    border: 2px solid crimson;
    /*height: 50px;*/
    min-height: 10px;
    /*max-height: 100px;*/
}

h3 {
       font-size: large;
       text-decoration: aqua underline dashed 2px;
       text-underline-offset: 5px;
       border-left-style: dashed;
}

h4 {
    font-size: 32px;
    font-family: cursive;
    font-weight: bolder;
    border-style: groove;
    border-color: coral;
}

h6 {
    font-size: 32px;
    border: red  2px dashed;
    margin: 10px 20px 25px 15px;
    padding: 15px 20px 25px 15px;

}
